<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  <title>Product Suggestion System</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" href="/static/style.css" />
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
  </style>
  <body>
    <div id="topnav">
      <a href="{{url_for('index')}}">Products</a>
      <img alt src="/static/logo.webp" id="logo" />
      <a href="{{url_for('Analytics')}}">Analytics</a>
    </div>
    <div id="main">
      <section id="suggestionSpan">
        <p>Suggestions</p>
        <div id="suggestionList"></div>
        <button type="button" onclick="ask()" id="generateButton">
          Generate
        </button>
      </section>
      <section id="productSpan">
        <p>Products</p>
        <div id="productList"></div>
      </section>
    </div>
    <script src="/static/script.js"></script>

    <script>
        function ask() {
            function deleteElementsInsideDiv() {
                const div = document.getElementById('suggestionList');
                while (div.firstChild) {
                    div.removeChild(div.firstChild);
                }
            }
            deleteElementsInsideDiv()
            loading = document.createElement("img");
            loading.id = "loading";
            loading.src = "/static/loading.gif";
            document.getElementById("suggestionList").appendChild(loading);
            fetch('/ask')
                .then(result => result.json())
                .then(data => {
                    pass(data.result);
                    document.getElementById("loading").remove();
                });
        }
      product_line = add_items({{product_line|tojson}})
    </script>
  </body>
</html>
